.createHeader{
    background-color: #E84C3D;

}
.buttons{
    position: absolute;
    left: 45px;

}

.inputItem{
    border-radius: 7px;
    width: 100%;
    padding: 2vh;
    margin: 1vh;
}

.inputContainer{
    /* overflow-x: scroll;
     width: 900px;
     height: 30vh;
     position: relative;
     left: 30%;*/
    display: flex;
    overflow-x: scroll;
}

input{
    color:white ;
    background-color: #E84C3D;
    width: fit-content;
}

.private{
    font-weight: bold;
    font-style: italic;
}