


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #980b09;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #ffffff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #bb25d6;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round:before {
    border-radius: 50%;
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}


#left-container{
    background-color: #E84C3D;
    width: 25%;
    height: 650px;
    padding: 3%;
    float: left;

}
#mid-view{
    background-color: #E84C3D;
    height: 100%;
    width: 100%;
}

p{
    color: #ffffff;
}

#burdilio_btn{

    width: 120px;
    height: 40px;
    background-color: #E84C3D;
    color: #ffffff;
    margin-left:55%;


}








#welcome-text{
    font-size: larger;
    margin-top: 20%;
    margin-left: 20%;
    color: #222222;
}








/*#chippest-store{*/
    /*color: white;*/
/*}*/

#toggle-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}



#toggle-container span {
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

#toggle-economy{
    display: inline;
}



.left-bar-header{
    font-size: 18pt;
}

.left-bar-total{
    font-size: 14pt;
    margin-top: 100%;
}

#signout_btn{
   position: absolute;
    margin-left: 90%;
    margin-top: 2%;
    height: 25px;
}

#createListLink{
    background-color: red;
    width: 350px;
    height: 150px;
}

#createListBlock{
    width: 550px;
    height: 250px;
    margin-left: 30%;
}

.data-waiting-pb {
    margin-left: 20em ;
}
